html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4rem;
}

/* *************** */
/* flex containers */
/* *************** */

.flexrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}


/* ************** */
/* common classes */
/* ************** */

.container {
  width: 960px;
  margin: 0 auto;
}


/* *************** */
/* Header elements */
/* *************** */

header {

}

#header-image {
  background: url("../images/glasses-bg.png") no-repeat center;
  background-size: cover;
  height: 30rem;
  width: 100%;
}

header .container {
  position: relative;
  padding-top: 1rem;
  height: 30rem;
  font-size: 1rem;
}

.banner {
  background-color: cadetblue;
  padding: 1rem 2rem;
  color: white;
}

.banner .logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

.banner nav a {
  padding-right: 2rem;
  text-decoration: none;
  color: white;
}

span#header-textbox {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  display: inline-block;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  position: absolute;
  right: -2rem;
}

/* ************* */
/* Main elements */
/* ************* */

#main-content .container {
  padding-top: 3rem;
  padding-bottom: 5rem;

  background-color: green;
}

.services {
  height: 8rem;
  dislay: flex;
  justify-content: space-around;

  background-color: purple;
}

#service1 img {
  width: 3.5rem;
}

#service2 img {
  width: 5rem;
}

#service3 img {
  width: 5rem;
}

.textboxes {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.textbox {
  width: 35%;
}

.between-textbox {
  width: 5%;
}

.textbox h3 {
  display: inline-block;
  width: 10rem;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1.25rem;
}

.textbox p {
  margin-top: 1rem;
}

/* *************** */
/* Footer elements */
/* *************** */

footer .container {

  background-color: yellow;
  height: 30rem;
}
