html {
  font-size: 18px;
  background-color: azure;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4rem;
}


/* *************** */
/* flex containers */
/* *************** */

.flexrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


/* ************** */
/* common classes */
/* ************** */

.container {
  width: 960px;
  margin: 0 auto;
}


/* *************** */
/* Header elements */
/* *************** */

header {
  height: 30rem;
}

#header-image {
  background: url("../images/glasses-bg.png") no-repeat center;
  background-size: cover;
  height: 100%;
  width: auto;
}

header .container {
  position: relative;
  padding-top: 1rem;
  font-size: 1rem;
}

.banner {
  background-color: cadetblue;
  padding: 1rem 2rem;
  color: white;
}

.banner .logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

.banner nav a {
  padding-right: 2rem;
  text-decoration: none;
  color: white;
}

#nav-mobile {
  display: none;
}

span#header-textbox {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  display: inline-block;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  position: absolute;
  right: -2rem;
}


/* ************* */
/* Main elements */
/* ************* */

.services {
  padding-top: 3rem;
  min-height: 8rem;
  display: flex;
  justify-content: center;
}

.between-service {
  width: 6rem;
}

#service1 img {
  width: 3.5rem;
}

#service2 img {
  width: 5rem;
}

#service3 img {
  width: 5rem;
}

#service3 span:last-of-type {
  display: none;
}

.textboxes {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.textbox {
  width: 35%;
}

.between-textbox {
  width: 5%;
}

.textbox h3 {
  display: inline-block;
  width: 10rem;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1.25rem;
}

.textbox p {
  margin-top: 1rem;
}


/* *************** */
/* Footer elements */
/* *************** */

.footer {
  display: flex;
  justify-content: flex-start;
  margin: 4rem;
}

.footer .logo img {
  height: 1.5rem;
  padding-right: 1rem;
}


/* ******************************************* */
/* Styling for screens with max-width = 1024px */
/* ******************************************* */

@media only screen and (max-width: 1024px) {

  .container {
    width: 100%;
  }

  header {
    height: 22rem;
  }

  header .container {
    padding-top: 0;
  }

  span#header-textbox {
    font-size: 1.33rem;
    margin-top: 5rem;
    padding: 0.75rem 4rem;
    position: absolute;
    right: 2rem;
  }

}


/* ****************************************** */
/* Styling for screens with max-width = 600px */
/* ****************************************** */

@media only screen and (max-width: 600px) {

  .container {
    width: 100%;
  }

  header {
    height: 17rem;
  }

  #header-image {
    background-position: 20%;
  }

  #nav-desktop {
    display: none;
  }

  #nav-mobile {
    display: inline-block;
  }

  span#header-textbox {
    font-size: 1rem;
    text-align: center;
    margin-top: 9rem;
    padding: 1rem 0;
    width: 100%;
    left: 0;
  }

  #main-content .container {
    font-size: 0.77rem;
  }

  .services {
    flex-direction: column;
    padding-top: 3.77rem;
  }

  .between-service {
    height: 1.54rem;
  }

  #service3 span {
    display: none;
  }

  #service3 span:last-of-type {
    display: inline-block;
  }

  .textboxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3.77rem;
  }

  .textbox {
    width: 100%;
  }

  .textbox h3 {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .textbox p {
    margin: 1rem 0.5rem 4rem;
  }

  .textboxes .textbox:last-of-type p {
    margin-bottom: 0;
  }

  .footer .logo {
    margin: 0 auto;
  }

  footer .logo span {
    display: none;
  }

}
